.aboutContainer {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.aboutLeft {
	flex: 1;
	padding: 10px;
	padding-left: 120px;
}

.aboutRight {
	flex: 1;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	padding: 100px;
}

.imgContainer {
	height: 400px;
	width: 500px;
}
img {
	max-width: 100%;
	max-height: 100%;
	object-fit: 'contain';
}

.contentContainer {
	display: flex;
	color: white;

	text-align: justify;
}

.buttonContainer {
	display: block;
	width: 100%;
	margin-top: 20px;
	position: relative;
	height: 60px;
	width: 200px;
}

.btn.btnResume {
	background-color: black;
	color: white;
	transition-delay: 0.2s;
}

.btn.btnResume:hover {
	background-color: var(--primary-color);
}

.buttonContainer:after {
	content: '';
	width: 0;
	height: 2px;
	position: absolute;
	transition: all 0.2s linear;
	background: var(--primary-color);
	left: 0;
	bottom: 0;
}
.buttonContainer:before {
	content: '';
	width: 0;
	height: 2px;
	position: absolute;
	transition: all 0.2s linear;
	background: var(--primary-color);
	right: 0;
	top: 0;
}

span::before,
span::after {
	content: '';
	width: 2px;
	height: 0;
	position: absolute;
	transition: all 0.2s linear;
	background: var(--primary-color);
}
.buttonContainer:hover::before,
.buttonContainer:hover::after {
	width: 200px;
}

.buttonContainer span::before {
	left: 0;
	top: 0;
}
.buttonContainer span::after {
	right: 0;
	bottom: 0;
}

.buttonContainer span:hover::before,
.buttonContainer span:hover::after {
	height: 60px;
}
/*----- button 1 -----*/
