.cardContainer {
	height: 200px;
	width: 300px;
	background-color: white;
	overflow: hidden;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
}

.overlay {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	width: 300px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cardContainer:hover .image {
	opacity: 0;
	transition: 0.5s ease;
}

.cardContainer:hover .overlay {
	opacity: 1;
	transition: 0.5s ease;
}
.overlayTitle,
.overlaySubtitle {
	color: black;
	font-size: 16px;
	width: 80%;
}
.overlayTitle {
	font-size: 24px;
	margin-bottom: 20px;
	font-weight: bold;
}

.overlaySubtitle {
	font-size: 16px;
	text-align: justify;
}

.card,
.front-face,
.back-face {
	position: absolute;
}

.back-face {
	padding-left: 10px;
	padding-right: 10px;
	/* color: var(--text-gray-color); */
}

.back-face-title {
	font-size: 24px;
	font-weight: bold;
}

.card {
	display: flex;
	height: 220px;
	width: 300px;
	position: relative;
}
.card .front-face {
	height: 100%;
	width: 100%;
	text-align: center;

	background-size: cover;
	background-position: center;
	border-radius: 10px;
	backface-visibility: hidden;
	transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.card .back-face {
	height: 100%;
	width: 95%;
	text-align: center;
	border-radius: 10px;
	backface-visibility: hidden;

	transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transform: rotateY(180deg);
	background-color: var(--primary-color);
}

.card:hover > .back-face {
	transform: rotateY(0deg);
}

.card:hover > .front-face {
	transform: rotateY(-180deg);
}

.demo-icon {
	padding-left: 10px;
	transition: transform 0.5s;
}
.demo-icon:hover {
	transform: scale(1.2);
}
